/*
 * ScalePlayer Stylesheet file.
 */

.note{
    -fx-stroke: black;
    
}

.selected{
    -fx-stroke: red;
    -fx-stroke-width: 2;
}

.Piano{
   -fx-fill: cyan; 
   -fx-text-fill: cyan;
}

.Harpsichord{
    -fx-fill: green;
    -fx-text-fill: green;
    
}

.Marimba{
    -fx-fill: blueviolet;
    -fx-text-fill: blueviolet;
}

.Church-Organ{
    -fx-fill: coral;
    -fx-text-fill: coral;
}

.Accordion{
    -fx-fill: darkseagreen;
    -fx-text-fill: darkseagreen;
}

.Guitar{
    -fx-fill: fuchsia;
    -fx-text-fill: fuchsia;
}

.Violin{
    -fx-fill: lightpink;
    -fx-text-fill: lightpink;
}

.French-Horn{
    -fx-fill: goldenrod;
    -fx-text-fill: goldenrod;
}

.playbar{
    -fx-fill: red;
    -fx-text-fill: red;
}
.selectionRect{
    -fx-fill: transparent;
    -fx-stroke: black;
}

.group{
    -fx-fill: transparent;
    -fx-stroke: red;
    -fx-stroke-width: 2;
    -fx-stroke-dash-array: 12 2 4 2;
    -fx-stroke-dash-offset: 6;
    -fx-stroke-line-cap: butt;
}

