/*
 * ScalePlayer Stylesheet file.
 */

.note{
    -fx-stroke: black;
    
}

.piano{
   -fx-fill: cyan; 
}

.harpsicord{
    -fx-fill: blueviolet;
    
}

.marimba{
    -fx-fill: blueviolet;
}

.church-organ{
    -fx-fill: coral;
}

.accordion{
    -fx-fill: darkseagreen
}

.guitar{
    -fx-fill: fuchsia;
}

.violin{
    -fx-fill: lightpink;
}

.french-horn{
    -fx-fill: goldenrod;
}

.playbar{
    -fx-fill: red;
}