/*
 * ScalePlayer Stylesheet file.
 */

.note{
    -fx-stroke: black;
    
}

.Piano{
   -fx-fill: cyan; 
}

.Harpsicord{
    -fx-fill: blueviolet;
    
}

.Marimba{
    -fx-fill: blueviolet;
}

.Church-organ{
    -fx-fill: coral;
}

.Accordion{
    -fx-fill: darkseagreen
}

.Guitar{
    -fx-fill: fuchsia;
}

.Violin{
    -fx-fill: lightpink;
}

.French-horn{
    -fx-fill: goldenrod;
}

.playbar{
    -fx-fill: red;
}
